@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
.heading{
    margin-top: 2rem;
    text-align: center;
    font-family: 'Play', sans-serif;
}
.heading2{
    text-align: center;
    font-family: 'Play', sans-serif;   
}
.trend{
    text-align: center;
    font-family: 'Play', sans-serif;     
}

.cardContent{
    font-family: 'Play', sans-serif;  
    button {
        margin: 4px;
        color: black;
        width: 7em;
        height: 2.5em;
        border-radius: 30em;
        font-size: 15px;
        font-family: inherit;
        border: none;
        position: relative;
        overflow: hidden;
        z-index: 1;
        box-shadow: 6px 6px 12px #c5c5c5,
                    -6px -6px 12px #ffffff;
       }
       
       button::before {
        content: '';
        width: 0;
        height: 3em;
        border-radius: 30em;
        position: absolute;
        top: 0;
        left: 0;
        background-image: linear-gradient(to right, #f64866 0%, #f9f047 100%);
        transition: .5s ease;
        display: block;
        z-index: -1;
       }
       
       button:hover::before {
        width: 9em;
       }
}


   
   /* Slideshow */
   .cardImg{
  width: auto;
  height: 90%;
  cursor: pointer;
   }

.SlideShow{
    display: flex;
    flex-direction: row;
    height: 500px;
    overflow: scroll;
}

@media only screen and (max-width: 600px) {

    .cardImg{
        width: auto;
        height: 75%;
         }
      
      .SlideShow{
          display: flex;
          flex-direction: row;
          height: 320px;
          overflow: scroll;
      }
  
   }